# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this is
# commented out by default.
# .vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/libs/
/android/app/src/main/assets/
/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java

# Arch specific
/android/app/src/main/jniLibs/

# Android
**/android/app/google-services.json
**/android/gradle/wrapper/gradle-wrapper.properties
**/android/key.properties
**/android/local.properties
/android/.gradle/
/android/captures/
/android/gradlew
/android/gradlew.bat

# iOS
**/ios/Runner/GoogleService-Info.plist
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
/ios/.generated/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/app.flx
/ios/Flutter/app.zip
/ios/Flutter/flutter_assets/
/ios/Flutter/flutter_export_environment.sh
/ios/ServiceDefinitions.json
/ios/Runner/Base.lproj/
/ios/Runner/Info.plist
/ios/Runner/Runner.entitlements

# Exceptions to above rules.
!/ios/Runner/Base.lproj/LaunchScreen.storyboard
!/ios/Runner/Base.lproj/Main.storyboard
!/ios/Runner/Info.plist
!/ios/Runner/Runner.entitlements

# macOS
**/macos/Runner/GoogleService-Info.plist
**/macos/Runner/ephemeral/
/macos/Flutter/ephemeral/

# Web

# Linux
/linux/flutter/ephemeral/

# Windows
/windows/flutter/ephemeral/
